extends ./layout.jade
block head_libraries
	link(rel="stylesheet" href="/jsoneditor/dist/jsoneditor.min.css")
	link(rel="stylesheet" href="/assets/addRule.css")
block content
	md-content(ng-controller="TestInferenciadorController" layout="column" layout-align="center center")
		div(id="jsoneditor" name="jsoneditor" ng-model="jsoninserted.data" options="jsoninserted.options" ng-jsoneditor)
		section(layout="row" layout-sm="column")
			md-button(md-colors="{background: 'green'}" ng-click="addRule('#{_id}')") Guardar Regla
			md-button(md-colors="{background: 'blue'}" href="/") Listar Reglas
block js_libraries
	script(type="text/javascript" src="/jsoneditor/dist/jsoneditor.min.js")
block js
	script(type='text/javascript').
		var json = '!{jsoneditor}';
		if(json != ''){
			json = JSON.parse(json);
		}
	script(type="text/javascript" src="/addRuleController.js")
	
